<div class="product_container">
  <div class="product_picture_large">
    <img src="<%= @product.image %>">
  </div>
  <!--end product_picture-->
  <div class="product_description">
    <li>
      <%= @product.name %>
    </li>
    <li>
      <%= @product.description %>
    </li>
     <li><%= @product.abv %></li>
    <a href="/products/<%= @product.id %>/edit">Edit</a>


  </div>
  <!--end product_description-->
</div>
<!--end product_container-->