<!DOCTYPE html>
<html>
<head>
  <title>Growlers to Go</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div id="nav_container">
    <ul id="menu">
      <% if current_user %>
        <li><a href="#">Welcome, <%= current_user.email %></a></li>
        <li><a href='/products/new'>Add Products</a></li>

        <li><%= link_to 'Logout', brewery_login_path(current_user.id), method: :delete %></li>
      <% else %>
        <li><%= link_to 'Brewery Login', new_brewery_login_path %></li>
      <% end %>
    </ul>
  </div>
  <!--end navigation-->
</nav>

<header>
  <div id="header_container">
    <a href="/"><%= image_tag('placeholder.png')%></a>
  </div>
    <!--end of header container-->
</header>





<%= yield %>

</body>
</html>
